altgraph @ file:///home/conda/feedstock_root/build_artifacts/altgraph_1763917197151/work
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1768085583/work/dist/numpy-2.4.1-cp311-cp311-win_amd64.whl#sha256=97173d0adeb85a15bb4fbe7c2b55ef56e51ca21268c17edaa14d0c38c455491a
openpyxl @ file:///D:/bld/openpyxl_1757332076971/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///D:/bld/pandas_1764614503455/work
pefile @ file:///home/conda/feedstock_root/build_artifacts/pefile_1675867622763/work
pyinstaller @ file:///D:/bld/pyinstaller_1768355496524/work
pyinstaller-hooks-contrib @ file:///home/conda/feedstock_root/build_artifacts/pyinstaller-hooks-contrib_1768894846742/work
PySide6==6.9.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1756487145/work
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1762489723902/work
shiboken6==6.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1756170038895/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
